In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
import string
import nltk ##its used to build python programs that works with human language data for statistical nlp
nltk.download('punkt')
nltk.download('stopwords')
# nltk.download('porter')
from nltk import PorterStemmer
ps=PorterStemmer()
import pickle

C:\Users\manik\AppData\Local\Temp\ipykernel_15620\2515360235.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\manik\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\manik\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
# from xgboost import XGBClassifier

In [16]:
df1=pd.read_csv("./EMAIL_spam_dataset/enronSpamSubset.csv")
df1

,Unnamed: 0.1,Unnamed: 0,Body,Label
0,2469,2469,Subject: stock promo mover : cwtd\n * * * urge...,1
1,5063,5063,Subject: are you listed in major search engine...,1
2,12564,12564,"Subject: important information thu , 30 jun 20...",1
3,2796,2796,Subject: = ? utf - 8 ? q ? bask your life with...,1
4,1468,1468,"Subject: "" bidstogo "" is places to go , things...",1
...,...,...,...,...
9995,26222,26222,"Subject: monday 22 nd oct\n louise ,\n do you ...",0
9996,18630,18630,Subject: missing bloomberg deals\n stephanie -...,0
9997,18451,18451,Subject: eops salary survey questionnaire\n we...,0
9998,21955,21955,"Subject: q 3 comparison\n hi louise ,\n i have...",0
9999,32062,32062,Subject: confidential folder to safely pass in...,0

In [17]:
df1.drop(columns={"Unnamed: 0.1"},inplace=True)

In [18]:
df1

      Unnamed: 0                                               Body  Label
0           2469  Subject: stock promo mover : cwtd\n * * * urge...      1
1           5063  Subject: are you listed in major search engine...      1
2          12564  Subject: important information thu , 30 jun 20...      1
3           2796  Subject: = ? utf - 8 ? q ? bask your life with...      1
4           1468  Subject: " bidstogo " is places to go , things...      1
...          ...                                                ...    ...
9995       26222  Subject: monday 22 nd oct\n louise ,\n do you ...      0
9996       18630  Subject: missing bloomberg deals\n stephanie -...      0
9997       18451  Subject: eops salary survey questionnaire\n we...      0
9998       21955  Subject: q 3 comparison\n hi louise ,\n i have...      0
9999       32062  Subject: confidential folder to safely pass in...      0

[10000 rows x 3 columns]

In [19]:
df2=pd.read_csv("./EMAIL_spam_dataset/lingSpam.csv")
df2

      Unnamed: 0                                               Body  Label
0              0  Subject: great part-time or summer job !\n \n ...      1
1              1  Subject: auto insurance rates too high ?\n \n ...      1
2              2  Subject: do want the best and economical hunti...      1
3              3  Subject: email 57 million people for $ 99\n \n...      1
4              4  Subject: do n't miss these !\n \n attention ! ...      1
...          ...                                                ...    ...
2600        2600  Subject: computationally - intensive methods i...      0
2601        2601  Subject: books : a survey of american linguist...      0
2602        2602  Subject: wecol ' 98 - - western conference on ...      0
2603        2603  Subject: euralex ' 98 - revised programme\n \n...      0
2604        2604  ,Body,Label\n 0,"Subject: great part-time or s...      0

[2605 rows x 3 columns]

In [20]:
df3=pd.read_csv("./EMAIL_spam_dataset/completeSpamAssassin.csv")
df3

      Unnamed: 0                                               Body  Label
0              0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1              1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2              2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3              3  ##############################################...      1
4              4  I thought you might like these:\n1) Slim Down ...      1
...          ...                                                ...    ...
6041        6041                                              empty      0
6042        6042                    ___           ___           ...      0
6043        6043  IN THIS ISSUE:01. Readers write\n02. Extension...      0
6044        6044                                              empty      0
6045        6045                                              empty      0

[6046 rows x 3 columns]

In [21]:
combined=pd.concat([df1,df2,df3])

In [22]:
combined

      Unnamed: 0                                               Body  Label
0           2469  Subject: stock promo mover : cwtd\n * * * urge...      1
1           5063  Subject: are you listed in major search engine...      1
2          12564  Subject: important information thu , 30 jun 20...      1
3           2796  Subject: = ? utf - 8 ? q ? bask your life with...      1
4           1468  Subject: " bidstogo " is places to go , things...      1
...          ...                                                ...    ...
6041        6041                                              empty      0
6042        6042                    ___           ___           ...      0
6043        6043  IN THIS ISSUE:01. Readers write\n02. Extension...      0
6044        6044                                              empty      0
6045        6045                                              empty      0

[18651 rows x 3 columns]

In [23]:
combined["Body"].duplicated().sum()

1080

In [24]:
data=combined.drop(columns={'Unnamed: 0'})
data=data[~(data.Body=='empty')]
data=data.dropna()

In [25]:
data=data.reset_index(drop=True)

In [26]:
data

                                                    Body  Label
0      Subject: stock promo mover : cwtd\n * * * urge...      1
1      Subject: are you listed in major search engine...      1
2      Subject: important information thu , 30 jun 20...      1
3      Subject: = ? utf - 8 ? q ? bask your life with...      1
4      Subject: " bidstogo " is places to go , things...      1
...                                                  ...    ...
18112  ----------------------------------------------...      0
18113  EFFector       Vol. 15, No. 35       November ...      0
18114  \nWe have extended our Free seat sale until Th...      0
18115                    ___           ___           ...      0
18116  IN THIS ISSUE:01. Readers write\n02. Extension...      0

[18117 rows x 2 columns]

In [27]:
data.Body[0]

"Subject: stock promo mover : cwtd\n * * * urgent investor trading alert * * *\n weekly stock pick - - china world trade corp . ( ticker : cwtd )\n * * breaking news * *\n china world trade corp . enters into agreement to acquire\n majority stake in ceo clubs china limited ( the ceo clubs )\n tianhe , guangzhou , china - - ( market wire ) - - apr 7 , 2004 - - china world trade corp\n ( otc bb : cwtd . ob - news ) announced today that it has entered into an agreement to\n acquired majority stake in ceo clubs china limited ( the ceo clubs ) , a hong\n kong corporation with authorized chapter to operate under the ceo clubs\n trademarks in the greater china region , including the prc , hong kong and taiwan .\n china world trade corp .\n symbol : cwtd\n price $ 4 . 80\n shares out : 16 million\n market capitalization : $ 19 million\n significant revenue growth in 2004\n average pe industry : 30 x\n rating : strong buy\n 7 days trading target : $ 6 . 50\n 30 day trading target : $ 7 . 50\n cwtd is our play of the month stock pick .\n here are a few simple reasons why one would own china world trade corp :\n china world trade corp announced today that it has entered into an agreement\n to acquired majority stake in ceo clubs china limited ( the ceo clubs ) , a hong\n kong corporation with authorized chapter to operate under the ceo clubs\n trademarks in the greater china region , including the prc , hong kong and taiwan .\n china world trade corp has just gotten 1 . 2 million cash for working capital\n from a single shareholder ! !\n has acquired multiple companies in the past few months resulting in huge assets\n for the company\n china world trade corp is in the process of being accepted onto the amex\n china world trade corporation is an official operator of world trade centers\n in china , in association with the world trade centers association ( wtca ) and\n offers an enormous variety of services for businesses and industries seeking\n to do business in china .\n the company ' s business model consists of three major components - - the world\n trade center business , value - added services , and strategic investments .\n china world trade corporation established the first world trade center in the\n province of guangzhou ( canton ) in the year 2002 and started the commercial operation\n at the beginning of 2003 . this significant event was covered in detail on cnn\n asia .\n with the recent tragic events of 9 - 11 , the name world trade center has instant\n global recognition , and stands for unity , strength and prosperity throughout\n the worlds top economy leaders .\n china world trade corp signs letter of intent to acquire controlling stake\n of guangdong huahao industries holdings limited\n cwtd ' s business potential is built upon the opportunity created by the international\n trade of china .\n investment outlook\n - cwtd has a strong management team that includes top local corporate officers ,\n high ranking senior government officials and senior management from the hong\n kong world trade center\n - in the last twenty years , the foreign direct investment into china has increased\n from 0 . 92 billion usd in 1983 to 52 . 74 billion usd in 2004\n - cwtd is firmly positioned to vastly expand its marketing and acquisition\n strategies and capitalize on asia ' s multi - billion dollar emerging market .\n - cwtd has just made the application to list on the amex ! ! !\n - china world trade corp signs letter of intent to acquire controlling stake\n of guangdong huahao industries holdings limited\n information within this email contains forward looking statements\n within the meaning of section 27 a of the securities act of 1933 and section\n 21 b of the securities exchange act of 1934 . any statements that express or involve\n discussions with respect to predictions , goals , expectations , beliefs , plans ,\n projections , objectives , assumptions or future events or performance are not\n statements of historical fact and may be forward looking statements .\n zhnwz cgwop ntytd vtmtd ryvka rywrbdqxfb cruma\n jvqon pgcwj egrdg fdotc tyovo kebkb\n forward looking statements are based on expectations , estimates and projections\n at the time the statements are made that involve a number of risks and uncertainties\n which could cause actual results or events to differ materially from those presently\n anticipated . forward looking statements in this action may be identified through\n the use of words such as : projects , foresee , expects ,\n estimates , believes , understands will ,\n anticipates , or that by statements indicating certain actions may ,\n could , or might occur . all information provided within\n this email pertaining to investing , stocks , securities must be understood as\n information provided and not investment advice . we advise all readers and subscribers\n to seek advice from a registered professional securities representative before\n deciding to trade in stocks featured within this email . none of the material\n within this report shall be construed as any kind of investment advice . gs research\n and / or its officers and employees have been compensated 50 , 000 open trade shares\n by a third party for work involved in the preparation and production of this\n report\n in compliance with section 17 ( b ) , we disclose the holding of independently\n purchased shares of the company mentioned prior to the publication of this report . .\n be aware of an inherent conflict of interest resulting from such holdings due\n to our intent to profit from the liquidation of these shares . shares may be\n sold at any time , even after positive statements have been made regarding the\n above company . short term trading targets are only guesses on our part . keep\n in mind that when trading small stocks like the company above there is a chance\n you will lose every penny you invest . furthermore there have been times in the\n past when the company itself tells lies , gives false information and puts out\n false news . this email is for entertainment purposes only . this is not investment\n advice . we suggest you check with an investment professional before investing\n any stocks or mutual funds .\n pkmdk evorz gjdhb zcqym qretp hyexrpchju euqlb\n tszve zitda xyueq xkumc kuhwz haeex\n"

In [28]:
from nltk.corpus import stopwords

In [29]:
t=data.Body[0]
t

"Subject: stock promo mover : cwtd\n * * * urgent investor trading alert * * *\n weekly stock pick - - china world trade corp . ( ticker : cwtd )\n * * breaking news * *\n china world trade corp . enters into agreement to acquire\n majority stake in ceo clubs china limited ( the ceo clubs )\n tianhe , guangzhou , china - - ( market wire ) - - apr 7 , 2004 - - china world trade corp\n ( otc bb : cwtd . ob - news ) announced today that it has entered into an agreement to\n acquired majority stake in ceo clubs china limited ( the ceo clubs ) , a hong\n kong corporation with authorized chapter to operate under the ceo clubs\n trademarks in the greater china region , including the prc , hong kong and taiwan .\n china world trade corp .\n symbol : cwtd\n price $ 4 . 80\n shares out : 16 million\n market capitalization : $ 19 million\n significant revenue growth in 2004\n average pe industry : 30 x\n rating : strong buy\n 7 days trading target : $ 6 . 50\n 30 day trading target : $ 7 . 50\n cwtd is our play of the month stock pick .\n here are a few simple reasons why one would own china world trade corp :\n china world trade corp announced today that it has entered into an agreement\n to acquired majority stake in ceo clubs china limited ( the ceo clubs ) , a hong\n kong corporation with authorized chapter to operate under the ceo clubs\n trademarks in the greater china region , including the prc , hong kong and taiwan .\n china world trade corp has just gotten 1 . 2 million cash for working capital\n from a single shareholder ! !\n has acquired multiple companies in the past few months resulting in huge assets\n for the company\n china world trade corp is in the process of being accepted onto the amex\n china world trade corporation is an official operator of world trade centers\n in china , in association with the world trade centers association ( wtca ) and\n offers an enormous variety of services for businesses and industries seeking\n to do business in china .\n the company ' s business model consists of three major components - - the world\n trade center business , value - added services , and strategic investments .\n china world trade corporation established the first world trade center in the\n province of guangzhou ( canton ) in the year 2002 and started the commercial operation\n at the beginning of 2003 . this significant event was covered in detail on cnn\n asia .\n with the recent tragic events of 9 - 11 , the name world trade center has instant\n global recognition , and stands for unity , strength and prosperity throughout\n the worlds top economy leaders .\n china world trade corp signs letter of intent to acquire controlling stake\n of guangdong huahao industries holdings limited\n cwtd ' s business potential is built upon the opportunity created by the international\n trade of china .\n investment outlook\n - cwtd has a strong management team that includes top local corporate officers ,\n high ranking senior government officials and senior management from the hong\n kong world trade center\n - in the last twenty years , the foreign direct investment into china has increased\n from 0 . 92 billion usd in 1983 to 52 . 74 billion usd in 2004\n - cwtd is firmly positioned to vastly expand its marketing and acquisition\n strategies and capitalize on asia ' s multi - billion dollar emerging market .\n - cwtd has just made the application to list on the amex ! ! !\n - china world trade corp signs letter of intent to acquire controlling stake\n of guangdong huahao industries holdings limited\n information within this email contains forward looking statements\n within the meaning of section 27 a of the securities act of 1933 and section\n 21 b of the securities exchange act of 1934 . any statements that express or involve\n discussions with respect to predictions , goals , expectations , beliefs , plans ,\n projections , objectives , assumptions or future events or performance are not\n statements of historical fact and may be forward looking statements .\n zhnwz cgwop ntytd vtmtd ryvka rywrbdqxfb cruma\n jvqon pgcwj egrdg fdotc tyovo kebkb\n forward looking statements are based on expectations , estimates and projections\n at the time the statements are made that involve a number of risks and uncertainties\n which could cause actual results or events to differ materially from those presently\n anticipated . forward looking statements in this action may be identified through\n the use of words such as : projects , foresee , expects ,\n estimates , believes , understands will ,\n anticipates , or that by statements indicating certain actions may ,\n could , or might occur . all information provided within\n this email pertaining to investing , stocks , securities must be understood as\n information provided and not investment advice . we advise all readers and subscribers\n to seek advice from a registered professional securities representative before\n deciding to trade in stocks featured within this email . none of the material\n within this report shall be construed as any kind of investment advice . gs research\n and / or its officers and employees have been compensated 50 , 000 open trade shares\n by a third party for work involved in the preparation and production of this\n report\n in compliance with section 17 ( b ) , we disclose the holding of independently\n purchased shares of the company mentioned prior to the publication of this report . .\n be aware of an inherent conflict of interest resulting from such holdings due\n to our intent to profit from the liquidation of these shares . shares may be\n sold at any time , even after positive statements have been made regarding the\n above company . short term trading targets are only guesses on our part . keep\n in mind that when trading small stocks like the company above there is a chance\n you will lose every penny you invest . furthermore there have been times in the\n past when the company itself tells lies , gives false information and puts out\n false news . this email is for entertainment purposes only . this is not investment\n advice . we suggest you check with an investment professional before investing\n any stocks or mutual funds .\n pkmdk evorz gjdhb zcqym qretp hyexrpchju euqlb\n tszve zitda xyueq xkumc kuhwz haeex\n"

In [30]:
def text_transfer(x,sw,sp):
    x=x.lower()
    x=nltk.word_tokenize(x)
    y=[]
    for i in x:
        if i not in sw and i not in sp and i.isalnum():
            y.append(ps.stem(i))
    return y

In [31]:
sw=stopwords.words('english')
sp=string.punctuation
new_col=data.Body.apply(text_transfer,sw=sw, sp=sp)

In [32]:
new_col

0        [subject, stock, promo, mover, cwtd, urgent, i...
1        [subject, list, major, search, engin, submit, ...
2        [subject, import, inform, thu, 30, jun, 2005, ...
3        [subject, utf, 8, q, bask, life, utf, 8, q, in...
4        [subject, bidstogo, place, go, thing, hello, p...
                               ...
18112    [isilo, tm, palm, os, pocket, pc, window, ente...
18113    [effector, vol, 15, 35, novemb, 8, 2002, ren, ...
18114    [extend, free, seat, sale, thursday, 21st, nov...
18115    [insignific, matter, heavili, overemphasis, hu...
18116    [reader, write, extens, search, dumb, messag, ...
Name: Body, Length: 18117, dtype: object

In [ ]:
data['transferred_text']=new_col

In [ ]:
data

In [ ]:
data.transferred_text[0]

In [ ]:
plt.pie(data.Label.value_counts(),labels=['ham','spam'],autopct='%.2f')

In [ ]:
# pickle.dump(data,open('Email_CleanedData.pkl','wb'))

In [ ]:
df=data.copy()

In [ ]:
df

In [ ]:
df.transferred_text=df.transferred_text.str.join(" ")

In [ ]:
df

In [ ]:
df.transferred_text[0]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [ ]:
df

In [ ]:
dummy_frame=df.copy()

In [ ]:
dummy_frame

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
dummy=cv.fit_transform(dummy_frame['transferred_text'])

In [ ]:
dummy

In [ ]:
dummy.toarray()

In [ ]:
from sklearn.feature_extraction.text import HashingVectorizer

hv = HashingVectorizer(n_features=10000)  # Adjust the number of features as needed
hash_x = hv.fit_transform(df['transferred_text'])

In [ ]:
hash_x=hash_x.toarray()

In [ ]:
hash_x

In [ ]:
y=df.Label

In [ ]:
from sklearn.model_selection import train_test_split
# xtrain,xtest,ytrain,ytest=train_test_split(hash_x,y,test_size=0.2)
x_train,x_test,y_train,y_test=train_test_split(hash_x,y,test_size=0.2,random_state=2)

In [ ]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score

In [ ]:
gnb=GaussianNB()
svc = SVC(kernel='sigmoid', gamma=1.0)
lrc = LogisticRegression(solver='liblinear', penalty='l1')
rfc = RandomForestClassifier(n_estimators=50, random_state=2)
etc = ExtraTreesClassifier(n_estimators=50, random_state=2)
gbdt = GradientBoostingClassifier(n_estimators=50,random_state=2)
xgb = XGBClassifier(n_estimators=50,random_state=2)

# gnb.fit(xtrain,ytrain)
# svc
# lrc
# rfc
# etc
# gbdt
# xgb
#####################################33
# mnb=MultinomialNB()
# mnb.fit(xtrain,ytrain)
# bnb=BernoulliNB()
# bnb.fit(xtrain,ytrain)

In [ ]:
# knc = KNeighborsClassifier()
# mnb = MultinomialNB()
# dtc = DecisionTreeClassifier(max_depth=5)
# abc = AdaBoostClassifier(n_estimators=50, random_state=2)
# bc = BaggingClassifier(n_estimators=50, random_state=2)

In [ ]:
clfs = {
    # 'GNB' : gnb,
    'SVC' : svc,
                    # 'KN' : knc, 
                    # 'NB': mnb, 
                    # 'DT': dtc, 
    # 'LR': lrc, 
    # 'RF': rfc, 
                    # 'AdaBoost': abc, 
                    # 'BgC': bc, 
    'ETC': etc,
    # 'GBDT':gbdt,
    # 'xgb':xgb
}

In [ ]:
def train_classifier(clf,x_train,y_train,x_test,y_test):
    clf.fit(x_train,y_train)
    y_pred = clf.predict(x_test)
    accuracy = accuracy_score(y_test,y_pred)
    precision = precision_score(y_test,y_pred)
    return accuracy,precision

In [ ]:
accuracy_scores = []
precision_scores = []

for name,clf in clfs.items():
    
    current_accuracy,current_precision = train_classifier(clf, x_train,y_train,x_test,y_test)
    
    print("For ",name)
    print("Accuracy - ",current_accuracy)
    print("Precision - ",current_precision)
    
    accuracy_scores.append(current_accuracy)
    precision_scores.append(current_precision)

In [ ]:
def transfer(x):
    sw=stopwords.words('english')
    sp=string.punctuation
    x=x.lower()
    x=nltk.word_tokenize(x)
    y=[]
    for i in x:
        if i not in sw and i not in sp and i.isalnum():
            y.append(ps.stem(i))
    y=[" ".join(y)]
    hash_vector = HashingVectorizer(n_features=10000)  # Adjust the number of features as needed

    vector = hash_vector.fit_transform(y).toarray()
    return vector

In [ ]:
a=transfer("Dear all, Greetings from the Centre for Statistics The Centre for Statistics was started in SRM IST in May 2019. It is a unique feature of our institute. UNCOVER STATISTICAL MASTERY WITH US. -- Prof. M. Bagavandas Head, Centre for Statistics SRM Institute of Science and Technology https://www.srmist.edu.in/centre-for-statistics/")
a

In [ ]:
etc.predict(a)

In [ ]:
svc.predict(a)

In [ ]:
import pickle

pickle.dump(etc,open("model.pkl",'wb'))
pickle.dump(hv,open("vectorizer.pkl",'wb'))
pickle.dump(transfer,open("transfer_fun.pkl",'wb'))

In [ ]:
transfer_fun=pickle.load(open("transfer_fun",'rb'))

In [ ]:
transfer_fun("Dear all, Greetings from the Centre for Statistics The Centre for Statistics was started in SRM IST in May 2019. It is a unique feature of our institute. UNCOVER STATISTICAL MASTERY WITH US. -- Prof. M. Bagavandas Head, Centre for Statistics SRM Institute of Science and Technology https://www.srmist.edu.in/centre-for-statistics/")

In [ ]:
etc.predict(a)

In [ ]:
pickle.load()